nav{
    padding: var(--global-padding);
    background: black;
    height: 70px;
    color: var(--text-primary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navWrap{
    height: 100%;
    display: flex;
    gap: 20px;
}
.logo{
    height: 100px;
    width: 100px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
.other{
    display: flex;
    gap: 30px;
}
.logo img{
    width: 60%;
}

.floatingWhatspapp{
    display: flex;
    position: fixed;
    right: 20px;
    bottom: 25px;
}

@media screen and (max-width: 600px) {
    nav{
        padding: 0 15px;
    }
    .logo{
        height: 80px;
        width: 80px;
    }
    .info h3{
        display: none;
    }
    .other {
        gap: 10px;
    }
    .navWrap {
        justify-content: space-between;
    }
    .info {
        flex: initial;
    }
}