:root{
    width: 100%;
    overflow-x: hidden;

    /* variables */
    --global-padding: 0 150px;
    --color-primary: #FBD500;
    --text-primary-color: #fff;
    --text-secondary-color: #000;

}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    box-sizing: border-box;
    color: inherit;
}

/* general */
.space{
    margin-top: 70px;
}
main{
    min-height: 100vh;
}
h1{
    font-size: 4rem;
    font-weight: 900;
}
h2{
    font-size: 2.5rem;
}

p{
    font-size: 1.2rem;
    padding-bottom: 5px;
    font-weight: 500;
}
.hanleWhatsapp{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    background: black;
    border-radius: 10000px;
    padding: 10px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 600px) {
    :root{
        width: 100%;

        /* variables */
        --global-padding: 0 30px;
    
    }
    h1 {
        font-size: 2.5rem;
        font-weight: 900;
    }
    h2 {
        font-size: 1.5rem;
    }
    .hanleWhatsapp{
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 1000;
        background: black;
        border-radius: 10000px;
        padding: 10px;
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}